h1 {
  text-align: center;
}

.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.Pokedex ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Pokedex li {
  display: inline-block;
  margin: 20px;
}

.Pokedez a {
  text-decoration: none;
  color: black;
}
